TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [37]:
# Get the string as input and cnovert it into list

s1= input("Enter the String: ")

#Use reverse() method to reverse the String

#defined a fucntion and which accepts one argument
def reversed_string(s):
    #Converted the String to a list
    
    newlist = list(s)
    #use Reverse method on list as this method is not directly applicable on string
    
    newlist.reverse()
    
    #use join to concetenate elements of list
    return ''.join(newlist)

#run the function

reversed_string(s1)

#Other simpler way to do is to use (::-1)

Enter the String:  pwskills

'sllikswp'

2. Check if a string is a palindrome.

In [19]:
s1= input("Enter the String: ")

#Use reverse() method to reverse the String

#defined a fucntion and which accepts one argument
def reversed_string(s):
    #Converted the String to a list
    
    newlist = list(s)
    #use Reverse method on list as this method is not directly applicable on string
    
    newlist.reverse()
    
    #use join to concetenate elements of list
    return ''.join(newlist)

#run the function

Rstr= reversed_string(s1)
print(Rstr)


if Rstr == s1:
        print("The string is Palindrome")
    
else:
        print("The string is not Palindrome")

Enter the String:  SOS

SOS
The string is Palindrome

3. Convert a string to uppercase.

In [20]:
str2= input("Enter the string: ")

str2.upper()

Enter the string:  pwskills

'PWSKILLS'

4. Convert a string to lowercase.

In [21]:
str2= input("Enter the string: ")

str2.lower()

Enter the string:  PWSKILLS

'pwskills'

5. Count the number of vowels in a string.

In [24]:
str3= input("Enter the string: ")

vcount =0
for n in range (len(str3)):
    if (str3[n]=='a' or str3[n]=='e' or str3[n]=='i' or str3[n]=='o' or str3[n]=='u'):
            vcount +=1
print("Number of vowels is", vcount)

Enter the string:  pwskills

Number of vowels is 1

6. Count the number of consonants in a string.

In [38]:
str3= input("Enter the string: ")

vcount =0
for n in range (len(str3)):
    if (str3[n]=='a' or str3[n]=='e' or str3[n]=='i' or str3[n]=='o' or str3[n]=='u'):
            vcount +=1
            
#Total length of string subtracted by umber of vowels will give us consonents
            
con_count = len(str3) - vcount
print("Number of consonets is", con_count)

Enter the string:  pwskills

Number of consonets is 7

7. Remove all whitespaces from a string.

In [28]:
str5 = input("Enter the string: ")
new_str5=''

for char in str5:
    if char != ' ':
        new_str5 +=char

  

print("String after removing the spaces:",new_str5)

Enter the string:  p w s k i l l s

String after removing the spaces: pwskills

8. Find the length of a string without using the `len()` function.

In [30]:
str6 = input("Enter the string:")

#created a variable to store string length and initiated with 0
l_str=0

#for every characted in string it will increase the count by 1. This will account for spaces as well
for char in str6:
    l_str += 1

print("Length of string is", l_str)

Enter the string: pw skills

Length of string is 9

9. Check if a string contains a specific word.

In [35]:
str7 = input("Enter the string:")
print("The entered string is", str7)

w1 = input("Input the word to be found")

if w1 in str7:
    print(w1, "exists in the string")
    
else:
    print(w1, "doesn't exists in the string")

Enter the string: Quick brown fox

The entered string is Quick brown fox

Input the word to be found fox

fox exists in the string

10. Replace a word in a string with another word.

In [36]:
str8 = input("Enter the string:")
print("The entered string is", str8)

w2 = input("Input the word to be replaced")

rw = input("Tnput the word to be replaced with")

if w2 in str8:
    rstr8= str8.replace(w2, rw)
    print("New String with replaced word:", rstr8)
    
else:
    print(w2, "doesn't exists in the string")

Enter the string: quick brown fox

The entered string is quick brown fox

Input the word to be replaced fox
Tnput the word to be replaced with rabbit

New String with replaced word: quick brown rabbit

11. Count the occurrences of a word in a string.

In [43]:
str9 = input("Enter the string:")
print("The entered string is", str9)

w3 = input("Input the word to be counted")

str9.count(w3)

Enter the string: pwskills

The entered string is pwskills

Input the word to be counted l

2

12. Find the first occurrence of a word in a string.

In [45]:
str10 = input("Enter the string:")
print("The entered string is", str10)

w4 = input("Input the word to be found")

str10.find(w4)

Enter the string: Quick brown fox

The entered string is Quick brown fox

Input the word to be found r

7

13. Find the last occurrence of a word in a string.

In [52]:
str11 = input("Enter the string:")
print("The entered string is", str11)

w5 = input("Input the word to be found")

str11.rfind(w5)

Enter the string: pwskills

The entered string is pwskills

Input the word to be found l

6

14. Split a string into a list of words.

In [53]:
str12=input("Enter the string:")

split_str12= str12.split()
print("The split string is", split_str12)

Enter the string: Quick Brown Fox

The split string is ['Quick', 'Brown', 'Fox']

15. Join a list of words into a string.

In [57]:
list_1=["Quick", "Brown", "Fox"]

list_4 = ' '.join(list_1)

print(list_4)

Quick Brown Fox

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [59]:
str13=input("Enter the string:")
str14 = str13.replace(' ', '_')
str14

Enter the string: Quick Brown Fox

'Quick_Brown_Fox'

17. Check if a string starts with a specific word or phrase.

In [62]:
str15 = input("Enter the string:")
print("The entered string is", str15)

w6 = input("Input the word to be checked")

str15.startswith(w6)

Enter the string: Quick Brown Fox

The entered string is Quick Brown Fox

Input the word to be checked Fox

False

18. Check if a string ends with a specific word or phrase.

In [65]:
str16 = input("Enter the string:")
print("The entered string is", str16)

w7 = input("Input the word to be checked")

str16.endswith(w7)

Enter the string: Pw Skills

The entered string is Pw Skills

Input the word to be checked Skills

True

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [67]:
str17 = input("Enter the string:")
str17.title()

Enter the string: quick brown fox

'Quick Brown Fox'

20. Find the longest word in a string.

In [69]:
str18 = input("Enter the string:")

#convert the String to a list
lst_str18 = str18.split()

#Initiate an empty word

longest_w = ""

#Iterate through the created list from String
for word in lst_str18:
    #Everytime loop finds the length of the word greater than longest word, it assign the value
    if len(word) > len(longest_w):
        longest_w = word
        
print("Longest word in the string is:", longest_w)

Enter the string: Quick brown fox jumping from the tree

Longest word in the string is: jumping

Alternate way to handle above problem

In [75]:
str18_new = input("Enter the string:")

#convert the String to a list
newlst_str18 = str18_new.split()


longest_word = max(newlst_str18, key=len)

print("longest word is",longest_word)

Enter the string: Quick brown fox jumping down the tree

longest word is jumping

21. Find the shortest word in a string.

In [73]:
str19 = input("Enter the string:")

#convert the String to a list
lst_str19 = str19.split()

shortest_word = min(lst_str19, key=len)

print("Shortest word is", shortest_word)

Enter the string: happy day

Shortest word is day

22. Reverse the order of words in a string.

In [17]:
str20 = input("Enter the string:")

#convert the String to a list
lst_str20 = str20.split()
print(lst_str20)

#reverse the lements of list
lst_str20.reverse()

#Check elements are revered in place
print(lst_str20)

#Concatenate the string
rever_string = print(" ".join(lst_str20))

Enter the string: Quick Brown Fox jumping from the tree

['Quick', 'Brown', 'Fox', 'jumping', 'from', 'the', 'tree']
['tree', 'the', 'from', 'jumping', 'Fox', 'Brown', 'Quick']
tree the from jumping Fox Brown Quick

23. Check if a string is alphanumeric.

In [19]:
str21 = input("Enter the string:")

str21.isalnum()

Enter the string: alpha24

True

24. Extract all digits from a string.

In [24]:
str22 = input("Enter the string:")
digit_list =list()
for char in str22:
    if char.isnumeric():
        digit_list.append(char)

print("This list of digits is", digit_list)

Enter the string: alpha9876

This list of digits is ['9', '8', '7', '6']

25. Extract all alphabets from a string.

In [26]:
str23 = input("Enter the string:")
alpha_list =list()
for char in str23:
    if char.isalpha():
       alpha_list.append(char)

print("This list of alphabets is", alpha_list)

Enter the string: alpha876

This list of alphabets is ['a', 'l', 'p', 'h', 'a']

26. Count the number of uppercase letters in a string.

In [33]:
str24 = input("Enter the string:")
upper_list =list()
for char in str24:
    if char.isupper():
       upper_list.append(char)

print("This list of Uppercase letters is", upper_list)

upper_count = len(upper_list)

print("Number of Upper Case letters", upper_count)

Enter the string: UppER345

This list of Uppercase letters is ['U', 'E', 'R']
Number of Upper Case letters 3

27. Count the number of lowercase letters in a string.

In [34]:
str25 = input("Enter the string:")
lower_list =list()
for char in str25:
    if char.islower():
      lower_list.append(char)

print("This list of Lowercase letters is:", lower_list)

lower_count = len(lower_list)

print("Number of lower Case letters", lower_count)

Enter the string: TheList1234

This list of Lowercase letters is: ['h', 'e', 'i', 's', 't']
Number of lower Case letters 5

28. Swap the case of each character in a string.

In [41]:
str26 = input("Enter the string:")

#Initiate empty string

new_str26 =''

for char in str26:
    
#Check condition for Upper Case
    if char.isupper()==True:
        l_char= char.lower()
        new_str26 += l_char
        
#Check condition for lower case

    elif char.islower()==True:
        u_char= char.upper()
        new_str26 += u_char
        
    else:
        pass
        
      
        
    
    
print(new_str26)

Enter the string: PySkills

pYsKILLS

29. Remove a specific word from a string.

In [53]:
str27 = input("Enter the string:")

word_rem = input("Enter the word to be removed:")

lst_str27 = str27.split()

for char in lst_str27:
    if char == word_rem:
        lst_str27.remove(word_rem)
        
    else:
        pass
        
print(lst_str27)

new_str27 = " ".join(lst_str27)

print("The new string with removed word is: ", new_str27)

Enter the string: quick brown fox jumping from the tree
Enter the word to be removed: tree

['quick', 'brown', 'fox', 'jumping', 'from', 'the']
The new string with removed word is:  quick brown fox jumping from the

30. Check if a string is a valid email address.

In [2]:
str28 = input("Enter the string:")

def email_validate(s):
    
   #check if string has less than or more than one '@'
   if s.count('@') != 1:
              
              return False
    # Split user name and domain
   username, domain = s.split('@')
   #Check if username and domain side of email is not empty
   if len(username) ==0 and len(domain) ==0:
              return False
   #ensure '.' exists        
   if domain.find('.') == -1:
              return False
              
   return True
              
email_validate(str28)

Enter the string: test@test.com

True

31. Extract the username from an email address string.

In [9]:
def email_validate(s):
    
   #check if string has less than or more than one '@'
   if s.count('@') != 1:
              
              return False
    # Split user name and domain
   username, domain = s.split('@')
   #Check if username and domain side of email is not empty
   if len(username) ==0 and len(domain) ==0:
              return False
   #ensure '.' exists        
   if domain.find('.') == -1:
              return False
              
   return True

str29 = input("Enter the valid email id:")

#First validate using above example that entered email id is valid. using same email_validate() function to validate the email id

if email_validate(str29) == True:
    #slicing the email before the '@'
    rusername = str29[str29.index('@')-1::-1]
    #sliced string which we will get will be reveresed, we have to reverse that again to get the username
    username=rusername[::-1]
    print("Username for the email is:", username)
    
else:
    print("Not a valid email id")

Enter the valid email id: testemail@email.com

Username for the email is: testemail

32. Extract the domain name from an email address string.

In [13]:
def email_validate(s):
    
   #check if string has less than or more than one '@'
   if s.count('@') != 1:
              
              return False
    # Split user name and domain
   username, domain = s.split('@')
   #Check if username and domain side of email is not empty
   if len(username) ==0 and len(domain) ==0:
              return False
   #ensure '.' exists        
   if domain.find('.') == -1:
              return False
              
   return True

str30 = input("Enter the valid email id:")

#First validate using above example that entered email id is valid. using same email_validate() function to validate the email id

if email_validate(str30) == True:
    #slicing the email before the '@'
    domainname = str30[str30.index('@')+1:]
    
    print("Domain name for the email is:",domainname)
    
else:
    print("Not a valid email id")

Enter the valid email id: testemail2@newemail.com

Domain name for the email is: newemail.com

33. Replace multiple spaces in a string with a single space.

In [18]:
str31 = input("Enter the string with spaces:")

#importing Regular Expressions Module"

import re

#Strip() will remove extra space in front and back of string

re.sub(" +", " ",str31.strip())

Enter the string with spaces:     Quick brown fox         jumping  from   the   tree.

'Quick brown fox jumping from the tree.'

34. Check if a string is a valid URL.

In [28]:
from urllib.parse import urlparse

def url_validation(url):
    try:
        url_result = urlparse(url)
        return all([url_result.scheme, url_result.netloc]) # scheme returns the protocol and netloc returns the network location
    except ValueError:
        return False
    
str32 = input("Enter the url to cehck if it is a valid url:")
result = url_validation(str32)

if result==True:
    print(f'{str32} is a valid url.')
    
else:
    print("It is an invalid url.")

Enter the url to cehck if it is a valid url: https://www.google.com

https://www.google.com is a valid url.

35. Extract the protocol (http or https) from a URL string.

In [34]:
from urllib.parse import urlparse

def url_validation(url):
    try:
        url_result = urlparse(url)
        return all([url_result.scheme, url_result.netloc]) # scheme returns the protocol and netloc returns the network location
    except ValueError:
        return False
    
str33 = input("Enter the url to cehck if it is a valid url:")
result = url_validation(str33)

if result==True:
    protocol = urlparse(str33).scheme
    print(protocol)

Enter the url to cehck if it is a valid url: https://www.google.com

https

36. Find the frequency of each character in a string.

In [38]:
str34 = input("Enter the string to check character frequency:")

#initate an empty dictionary:

freq_dict ={}

for i in str34:
    
    #if that char is available in the string
    if i in freq_dict:
       freq_dict[i] +=1
    
      #else add it to the dictionary  
    else:
        freq_dict[i] =1
        
print(freq_dict)

Enter the string to check character frequency: pyskills

{'p': 1, 'y': 1, 's': 2, 'k': 1, 'i': 1, 'l': 2}

37. Remove all punctuation from a string.

In [40]:
import string

def rem_punc(s):
    #create a table that maps all the punctuation to None
    
    trans_table= str.maketrans("","",string.punctuation)
    return s.translate(trans_table)

str35=input("Enter the string to remove translation")

rem_punc(str35)

Enter the string to remove translation Hi! John, How are you?

'Hi John How are you'

38. Check if a string contains only digits.

In [45]:
str36=input("Enter the string to be checked for digits")

str36.isdigit()

Enter the string to be checked for digits 122345

True

39. Check if a string contains only alphabets.

In [48]:
str37=input("Enter the string to be checked for only alphabets")

str37.isalpha()

Enter the string to be checked for only alphabets pyskills

True

40. Convert a string to a list of characters.

In [50]:
str37=input("Enter the string to be conberted to list of characters")

char_list=list(str37)

print(char_list)

Enter the string to be conberted to list of characters This is python

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'p', 'y', 't', 'h', 'o', 'n']

41. Check if two strings are anagrams.

In [4]:
str38=  str(input("Enter first string to compare"))
str39 = str(input("Enter second string to compare"))

#Sort the string and make it all lower case for comparison

str38 = sorted(str38.lower())
str39 = sorted(str39.lower())

def anagram():
    if (str38 == str39):
        return "Strings are anagrams"
    else:
        return "Strings are not anagrams"
anagram()

Enter first string to compare elbow
Enter second string to compare below

'Strings are anagrams'

42. Encode a string using a Caesar cipher.

In [18]:
def enc_cipher(text,shift):
    
    ciphered_text =""
    
    for char in text:
        if (char.isupper() and char != ' '):
             ciphered_text += chr((ord(char) + s-65) % 26 + 65)
        elif (char.islower() and char != ' '):  
              ciphered_text += chr((ord(char) + s-97) % 26 + 97)
        elif (char ==' '):
               ciphered_text += ' '
        elif  (char.isdigit):
                ciphered_text +=char
                
    return ciphered_text
              
str40= str(input("Enter the text to cipher: "))

#default type for input is String
s = int(input("Enter the shift: "))

enc_cipher(str40,s)

Enter the text to cipher:  Hello World
Enter the shift:  1

'Ifmmp Xpsme'

43. Decode a Caesar cipher encoded string.

In [21]:
def enc_cipher(text,shift):

    #Initiate the empty Deciphered String
    deciphered_text =""
    
    #Instead of adding, we will subtract the shift
    for char in text:
        if (char.isupper() and char != ' '):
             deciphered_text += chr((ord(char) - s-65) % 26 + 65)
        elif (char.islower() and char != ' '):  
              deciphered_text += chr((ord(char) - s-97) % 26 + 97)
        elif (char ==' '):
               deciphered_text += ' '
        elif  (char.isdigit):
                deciphered_text +=char
                
    return deciphered_text
              
str41= str(input("Enter the text to Decipher: "))

#default type for input is String
sb = int(input("Enter the shift: "))

enc_cipher(str41,sb)

Enter the text to Decipher:  Ifmmp Xpsme
Enter the shift:  1

'Hello World'

44. Find the most frequent word in a string.

In [40]:
import re
from collections import Counter

def freq_word(input_string):
    #remove punctuations
    new_string= re.sub('[^\w\s]', '', input_string).lower()
    words = new_string.split()
    
    w_counter=Counter(words)
    
    most_freq_word = w_counter.most_common(1)[0][0]
    
    return most_freq_word

str42 = "Hi hi there"


freq_word(str42)

'hi'

45. Find all unique words in a string.

In [44]:
str45 = input("Enter the string")

str45_set=set(str45.split())
#Set has unique set of elements
str45_set

Enter the string Hello World! Hello Everyone!

{'Everyone!', 'Hello', 'World!'}

46. Count the number of syllables in a string.

In [45]:
import re

def count_syl(word):
    v_grps = re.findall(r'[aeiou]+', word, re.IGNORECASE)
    
    return len(v_grps)

re.findall

w1 = input("Enter the word")

scount=count_syl(w1)

print(f'{w1} has {scount} syllables')

Enter the word Water

Water has 2 syllables

47. Check if a string contains any special characters.

In [51]:
import re

def check_special(input_string):
    #create an object from the pattern containing special characters
    regex = re.compile('[@_!#$%^&*()<>?/\|}{~:]') 
    
    #use search to look for pattern in input string
    if(regex.search(input_string) == None):
        print("String has no special characters")
        
    else:
        print("String has special characters")
        
in_str=input("Enter the string:")
        
check_special(in_str)

Enter the string: !hi@hi

String has special characters

48. Remove the nth word from a string.

In [61]:
str46 = input("Enter the sentence:")

#ocnverting it to the list
list_str = str46.split()

i = int(input("Enter the Index value of element to be removed"))

#removing nth element using pop
list_str.pop(i)

print(list_str)

#converting back list to sentence
str46_afterpop= " ".join(list_str)

print("Sentence after popped item:", str46_afterpop)

Enter the sentence: Quick brown fox jumping from the tree
Enter the Index value of element to be removed 2

['Quick', 'brown', 'jumping', 'from', 'the', 'tree']
Sentence after popped item: Quick brown jumping from the tree

49. Insert a word at the nth position in a string.

In [63]:
str47 = input("Enter the sentence:")

#ocnverting it to the list
list_str47 = str47.split()

n = int(input("Enter the Index value of element to be added"))
item_ins = input("Enter the item to be inserted")

list_str47.insert(n, item_ins)

print(list_str47)

str47_afterins= " ".join(list_str47)

print(str47_afterins)

Enter the sentence: Quick brown jumping from the tree
Enter the Index value of element to be added 2
Enter the item to be inserted fox

['Quick', 'brown', 'fox', 'jumping', 'from', 'the', 'tree']
Quick brown fox jumping from the tree

50. Convert a CSV string to a list of lists

In [68]:
def csv_to_list(csv_str):
    
    #First split the csv into different lines
    lines= csv_str.split('\n')
    
    #Initiate an empty list
    
    r_list=[]
    
    for line in lines:
        rows = line.split(',') #split eachh line using comma
        r_list.append(rows)
        
    return r_list
        
csv_data = "Name, Age, Country\nJohn, 20, USA\nDoe, 25, India\nRyan, 30, Fiji"
final_list= csv_to_list(csv_data)
    
for row in final_list:
    print(row)

['Name', ' Age', ' Country']
['John', ' 20', ' USA']
['Doe', ' 25', ' India']
['Ryan', ' 30', ' Fiji']

TOPIC: List Based Practice Problem

1. Create a list with integers from 1 to 10.

In [78]:
#Initiate an empty list
lst01 =list()
for i in range(1,11):
#add to the list
    lst01.append(i)
lst01

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [2]:


#Initiate a list of elements
lst02 = [1,2,3,4,5,6,'pyskills', 18]
lst_count=0

#Iterate over the elements in list
for i in lst02:
    lst_count +=1
    
lst_count

8

3. Append an element to the end of a list.

In [4]:
lst03 = [1,2,3,4,5,6,'pyskills', 18]

lst03.append('flask')

lst03

[1, 2, 3, 4, 5, 6, 'pyskills', 18, 'flask']

4. Insert an element at a specific index in a list.

In [6]:
lst04 = [1,2,3,4,5,6,'pyskills', 18]

#we will insert 'Django' at index 2
lst04.insert(2,'Django')

lst04

[1, 2, 'Django', 3, 4, 5, 6, 'pyskills', 18]

5. Remove an element from a list by its value.

In [8]:
lst05 = [1,2,3,4,5,6,'pyskills', 18,1,2]

#It will remove first occurence of 2

lst05.remove(2)
lst05

[1, 3, 4, 5, 6, 'pyskills', 18, 1, 2]

6. Remove an element from a list by its index.

In [12]:
lst06 = [1,2,3,4,5,6,'pyskills', 18,1,2]

lst06.pop(0)

lst06

[2, 3, 4, 5, 6, 'pyskills', 18, 1, 2]

7. Check if an element exists in a list.

In [40]:
lst07 = [1,2,3,4,5,6,'pyskills', 18,1,2]


check_item= 'pyskills'

if check_item in lst07:
        print(check_item, "exists in the list")
else:
       print(check_item, "does not exists in the list")

pyskills exists in the list

8. Find the index of the first occurrence of an element in a list.

In [41]:
lst07 = [1,2,3,4,5,6,'pyskills', 18,1,2]

lst07.index(2)

1

9. Count the occurrences of an element in a list.

In [42]:
lst07 = [1,2,3,4,5,6,'pyskills', 18,1,2]

lst07.count(1)

2

10. Reverse the order of elements in a list.

In [44]:
lst07 = [1,2,3,4,5,6,'pyskills', 18,1,2]

lst07.reverse()

lst07

[2, 1, 18, 'pyskills', 6, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [47]:
lst08 = [1,2,3,4,5,6, 18,1,2]

lst08.sort()

lst08

[1, 1, 2, 2, 3, 4, 5, 6, 18]

12. Sort a list in descending order.

In [48]:
lst09 = [1,2,3,4,5,6, 18,1,2]

lst09.sort(reverse=True)

lst09

[18, 6, 5, 4, 3, 2, 2, 1, 1]

13. Create a list of even numbers from 1 to 20.

In [54]:
lst10 =[]

for i in range(1, 21):
    if i%2==0:
        lst10.append(i)
    else:
        pass
lst10

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [55]:
lst11 =[]

for i in range(1, 21):
    if i%2 ==1:
        lst11.append(i)
    else:
        pass
lst11

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [57]:
lst22 = [1,3,4,5,6,7]

#Initiate sum as 0
sum = 0

#iterate through the list

for i in lst22:
        sum = sum + i
        
print("The sum of all elements in a list is:", sum)

The sum of all elements in a list is: 26

16. Find the maximum value in a list.

In [64]:
lst23 = [1,3,4,5,91,6,7]

#Initiate max as 0
max = 0

#iterate through the list

for i in lst23:
        if i > max:
             max =i
                
print("The max in a list is:", max)

The max in a list is: 91

17. Find the minimum value in a list.

In [78]:
lst24 = [2,3,4,5,91,6,7]

#Initiate max as 0
max = 0

#iterate through the list

for i in lst24:
        if i > max:
             max =i
         

#assiging min to max

min = max

#iterate through the list

for j in lst24:
        if j < min :
             min =j
                
print("The min in a list is:", min)

The min in a list is: 2

18. Create a list of squares of numbers from 1 to 10.

In [82]:
sqlst =[]

for i in range(1,11):
    sqlst.append(i*i)

sqlst

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [86]:
import random

random_list = [random.randint(1,100) for i in range (20)]

print("List of random integers",random_list)

List of random integers [83, 84, 90, 88, 99, 42, 32, 66, 25, 34, 7, 25, 21, 98, 63, 24, 53, 28, 2, 6]

20. Remove duplicates from a list.

In [89]:
#converting a list into sets removes duplicates from the list

lst25 = [2,2,2,2,3,3,4,4,4,5,5,5,6,6,7,8,10,10]

lst25_rd = list(set(lst25))

lst25_rd

[2, 3, 4, 5, 6, 7, 8, 10]

21. Find the common elements between two lists.

In [92]:
lst26 = [10,20,30,40,50]
lst26A = [10,30,70,80]

lst26_common = []

for i in lst26:
    if i in lst26A:
        lst26_common.append(i)
print("list of Common elements in list is", lst26_common)

list of Common elements in list is [10, 30]

22. Find the difference between two lists.

In [93]:
lst27 = [10,20,30,40,50]
lst27A = [10,30,70,80]

lst27_difference = []

for i in lst26:
    if i not in lst26A:
        lst27_difference.append(i)
print("Difference between two lists", lst27_difference)

Difference between two lists [20, 40, 50]

23. Merge two lists.

In [94]:
lst28 = [10,20,30,40,50]
lst29 = [10,30,70,80]

merged_list = lst28 + lst29

print("Merged List is",merged_list)

Merged List is [10, 20, 30, 40, 50, 10, 30, 70, 80]

24. Multiply all elements in a list by 2.

In [96]:
lst30 = [10,20,30,40,50]

lst30_new =[]
for i in lst30:
           lst30_new.append(i*2)

print("New List is",lst30_new)

New List is [20, 40, 60, 80, 100]

25. Filter out all even numbers from a list.

In [105]:
lst31 = [10,2,30,4,50, 11,21,31,41,51,61]

filtered_lst31 =[]
for i in lst31:
    if i % 2  != 0:
        filtered_lst31.append(i)

print("New List with removed even number is",filtered_lst31)

New List with removed even number is [11, 21, 31, 41, 51, 61]

26. Convert a list of strings to a list of integers.

In [106]:
lst32 = ['10','2','30','4','50', '11','21','31','41','51','61']

int_list= [int(i) for i in lst32]

print(int_list)

[10, 2, 30, 4, 50, 11, 21, 31, 41, 51, 61]

27. Convert a list of integers to a list of strings.

In [107]:
lst33 = [10, 2, 30, 4, 50, 11, 21, 31, 41, 51, 61]

str_lst = [str(i) for i in lst33]

print(str_lst)

['10', '2', '30', '4', '50', '11', '21', '31', '41', '51', '61']

28. Flatten a nested list.

In [111]:
lst33 = [10,20,[20,30,40],50,60, [70,70,80],100]

#Create a function which takes nested list as argument
def flattened_list(nested):
    #Initiate an empty list
    flt = []
    for sublist in nested:
        if isinstance(sublist, list):
            flt.extend(flattened_list(sublist))
        else:
            flt.append(sublist)
    return flt
                        
                       
flat_list = flattened_list(lst33)
                   
    
print("Flattended list is:", flat_list)

Flattended list is: [10, 20, 20, 30, 40, 50, 60, 70, 70, 80, 100]

29. Create a list of the first 10 Fibonacci numbers.

In [48]:
#Initiate a list with first 2 Fibonacci numbers

fb_list=[0,1]

for i in range(2,10):
    next = fb_list[i-1] + fb_list[i-2]
    fb_list.append(next)

print("List of first 10 Fibonacci numbers",fb_list)

List of first 10 Fibonacci numbers [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [123]:
lst33 = [10,20,30,40]

#checking for all elements in list if every element is smaller than the next element.
#We have to use -1 in len(lst33), otherwise it  will be out of range for last element

if all(lst33[i] <= lst33[i+1] for i in range(len(lst33)-1)):
    print("The list is sorted")
    
else:
        print("The list is not sorted")

The list is sorted

31. Rotate a list to the left by `n` positions.

In [125]:
#initialize the list

lst34 = [1,2,3,4,5,6,7,8]

n = int(input("Enter the positions to rotate"))

if n > len(lst34):
    n = n%lst34

rotated_left = lst34[n:] + lst34[:n]

print(f"List rotated left by {n} elements is: {rotated_left}")

Enter the positions to rotate 2

List rotated left by 2 elements is: [3, 4, 5, 6, 7, 8, 1, 2]

32. Rotate a list to the right by `n` positions.

In [126]:
lst35 = [1,2,3,4,5,6,7,8]
n = int(input("Enter the positions to rotate"))

if n > len(lst35):
    n = n%lst35
    
rotated_right = lst35[ -n:] + lst35[:-n]

print(f"List rotated right by {n} elements is: {rotated_right}")

Enter the positions to rotate 2

List rotated right by 2 elements is: [7, 8, 1, 2, 3, 4, 5, 6]

33. Create a list of prime numbers up to 50.

In [135]:
prime_list=[]
            
for num in range(2,50):
    
    #assume its prime number unless prove otherwise
    isPrime = True
    
    for i in range(2, num):
        
         if num%i == 0:
            isPrime = False
    if isPrime:
        prime_list.append(num)
    
prime_list

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [4]:
lst36= [1,2,3,4,5,6,7,8]

#define a function to create split
def split_list(lst, csize):

#iterate through the list using for loop with increment of chunk size
  for i in range(0, len(lst), csize):
    yield lst[i:i + csize]

chunk_size = 2

print(list(split_list(lst36, chunk_size)))

[[1, 2], [3, 4], [5, 6], [7, 8]]

35. Find the second largest number in a list.

In [6]:
lst37= [1,20,30,4,5,6,7,8]

#Sort the list in ascending order
lst37.sort()

#Second largest number will be at index -2 as largest number in sorted list will be the last one
lst37[-2]

20

36. Replace every element in a list with its square.

In [7]:
lst38 =[2,3,4,5,6]

#Initiate an empty list

lst38_sq=[]

for i in lst38:
    lst38_sq.append(i*i)
lst38_sq

[4, 9, 16, 25, 36]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [22]:
lst39 = [10,20,30,50,40,30,50]

#Keys has to be unique , so instead of for loop, we will use enumerate to iterate the list
dict_lst39 ={element: index for index, element in enumerate(lst39)}


dict_lst39

{10: 0, 20: 1, 30: 5, 50: 6, 40: 4}

38. Shuffle the elements of a list randomly.

In [29]:
import random
lst40 = [10,20,30,50,40,30,50]
random.shuffle(lst40)

lst40

[10, 50, 40, 30, 30, 20, 50]

39. Create a list of the first 10 factorial numbers.

In [30]:
def fact(n):
    if n == 0 or n ==1:
        return 1
    else:
        return n * fact(n-1) 
#create list with factorial numbers:

fact_numbers = [fact(i) for i in range(10)]

print("List for first 10 factorial numbers:",fact_numbers)

List for first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [33]:
lst40a = [10,20,30,40,50]
lst40b = [20,30,40,50,60,70,80]

def check_list_common(lst1,lst2):
    for i in lst1:
        if i in lst40b:
            return True
    return False
if check_list_common(lst40a, lst40b):
        print("The lists have atleast one common item")
        
else:
        print("No common items in lists")

The lists have atleast one common item

41. Remove all elements from a list.

In [38]:
lst41 = [10,20,30,40,50]

lst41.clear()
lst41

[]

42. Replace negative numbers in a list with 0.

In [39]:
lst42 =[-10,-20,30,40,50]

for i in range(len(lst41)):
    if lst42[i] <0:
        lst42[i] = 0
lst42

[-10, -20, 30, 40, 50]

43. Convert a string into a list of words.

In [40]:
str60 = input("Enter the String")

str60_s = str60.split()

str60_s

Enter the String Quick brown fox

['Quick', 'brown', 'fox']

44. Convert a list of words into a string.

In [42]:
word_list = ['Quick', 'brown', 'fox']

str_words = " ".join(word_list)

print("New String:", str_words)

New String: Quick brown fox

45. Create a list of the first `n` powers of 2.

In [43]:
n = int(input("Enter the value of n"))

#using list comprehension

power_n_list= [2 ** i for i in range(n)] 

power_n_list

Enter the value of n 6

[1, 2, 4, 8, 16, 32]

46. Find the longest string in a list of strings.

In [46]:
str61 = ["John", "Doe", "India", "Canada", "USA", "Banana","CricketWorldCup"]

#iniiate empty string to store a value
longest_str = ""

for s in str61:
    if len(s) > len(longest_str):
        longest_str=s
longest_str

'CricketWorldCup'

47. Find the shortest string in a list of strings.

In [48]:
str62=["John", "Doe", "India", "Canada", "USA", "Banana","CricketWorldCup"]

#initiate with first string

shortest_str=str62[0]

for s in str62:
    if len(s)<len(shortest_str):
        shortest_str=s
print("Shortest string in the list is:",shortest_str)

Shortest string in the list is: Doe

48. Create a list of the first n triangular numbers.

In [51]:
def t_numbers(n):
    return [i *(i+1)//2 for i in range(1, n+1)]

num= int(input("Enter the valube of n"))

t_list = t_numbers(num)
            
print("List of triangular numbers",t_list)

Enter the valube of n 5

List of triangular numbers [1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [55]:
#Create the function which takes subsequence and main_list as parameters
def is_subseq(subsequence, main_list):
    subseq_index=0 
    
    #iterate through main list
    for element in main_list:
        if element == subsequence[subseq_index]: #if element in main list matches the element in subsequence, then move to next index in substring
            subseq_index +=1
            if subseq_index == len(subsequence): #if we reach end of the subsequence if it matches compleltly
                return True
    return False #if it doesn't matches

lst43 = [1,2,3,4,5]
sublst = [2,3,4]

if is_subseq(sublst, lst43):
    print("list contains the subsequence")
else:
        print("list doesn't contain the subsequence")

list contains the subsequence

50. Swap two elements in a list by their indices.

In [56]:
lst45 =[1,2,3,4,5,6,7]

#lets try swapping 2 with 4 which are in index 1 and index 3

index1 = 1
index2 = 3

temp = lst45[index2]
lst45[index2]=lst45[index1]
lst45[index1]=temp

lst45

[1, 4, 3, 2, 5, 6, 7]

Topic: Tuple Based Practice Problem

1. Create a tuple with integers from 1 to 5.

In [64]:
tup_lst1 = []

for i in range(1,6):
    tup_lst1.append(i)
#Created a list from 1 to 5 and then converted into tuple    
tup1=tuple(tup_lst1) 
print(tup1)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [70]:
tup2=(2,4,5,6,7)

#Third element is at index 2
tup2[2]

5

3. Find the length of a tuple without using the `len()` function.

In [9]:
tup3 =(1,5,6,7,8,7,9)

tup_count= 0

for i in tup3:
    tup_count +=1

print(f"Length of tuple is: {tup_count}")

Length of tuple is: 7

4. Count the occurrences of an element in a tuple.

In [14]:
tup5 = (1,1,3,4,5,6,1,2)

num = int(input("Enter the element to check:"))
num_count=0

for i in tup5:
    if i == num:
         num_count += 1

print(f"Number for occurences for element {num} is:{num_count}")

Enter the element to check: 1

Number for occurences for element 1 is:3

5. Find the index of the first occurrence of an element in a tuple.

In [18]:
tup6 = (1,1,3,4,5,6,1,2,5)

element_to_check=5
element_index=0

for item in tup6:
    if item == element_to_check:
        element_index = tup6.index(item)
        
print("Index of first occurence for item is:",element_index)

Index of first occurence for item is: 4

6. Check if an element exists in a tuple.

In [25]:
tup7 = (1,1,3,4,5,6,1,2,5)

element_to_check=5


if element_to_check in tup7:
        print(f"{element_to_check} exists in the list")
else:
        print("Item doesn't exists in the list")

5 exists in the list

7. Convert a tuple to a list.

In [28]:
tup7 = (1,1,3,4,5,6,1,2,5)

tup7_list = list(tup7)

tup7_list

[1, 1, 3, 4, 5, 6, 1, 2, 5]

8. Convert a list to a tuple.

In [30]:
lst_1 = [1,2,4,5,6]

tup_lst_1 =tuple(lst_1)

tup_lst_1

(1, 2, 4, 5, 6)

9. Unpack the elements of a tuple into variables.

In [31]:
tup9 = (1,2,3,4)

#assign them to different variables

var1, var2, var3, var4 = tup9

print("var1:", var1)
print("var2:", var2)
print("var3:", var3)
print("var4:", var4)

var1: 1
var2: 2
var3: 3
var4: 4

10. Create a tuple of even numbers from 1 to 10.

In [34]:
#create a list for even numbers

lst_10 = [i for i in range(2,11,2)] #even numbers between 2 and 11 with increment step of 2

tup_10 = tuple(lst_10) #Convert list to Tuple

print("Tuples with even numbers:", tup_10)

Tuples with even numbers: (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [36]:
#create a list for odd numbers as in above example

lst_11 =[i for i in range(1,11,2)] #odd numbers with increament step of 2
         
tup_11 = tuple(lst_11) 
         
print("Tuples with odd numbers:", tup_11)

Tuples with odd numbers: (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [37]:
tup_12a = (1,2,3)
tup_12b = (10,20,30)

tup_12c = tup_12a + tup_12b

print("Concatenated tuple is:", tup_12c)

Concatenated tuple is: (1, 2, 3, 10, 20, 30)

13. Repeat a tuple three times.

In [3]:
tup_13 = (1,2,3)

tup13_3 = tup_13 * 3

tup13_3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [7]:
tup14_e = ()

tup_14 = (1,2,3)

if not tup14_e:
    print(f" tup14_e: {tup14_e} is empty")
else:
    print(f" tup14_e: {tup14_e} is not empty")
    
if not tup_14:
    print(f" tup_14: {tup_14} is empty")
else:
    print(f" tup_14: {tup_14} is not empty")

 tup14_e: () is empty
 tup_14: (1, 2, 3) is not empty

15. Create a nested tuple.

In [11]:
nested_tuple = ((1,2,3), ("apple", "banana","strawberry","mango"), (20,30,40))

print("Nested Tuple:", nested_tuple)

Nested Tuple: ((1, 2, 3), ('apple', 'banana', 'strawberry', 'mango'), (20, 30, 40))

16. Access the first element of a nested tuple.

In [14]:
nested_tuple_16 = ((1,2,3), ("apple", "banana","strawberry","mango"), (20,30,40))

print("First element of nested Tuple is:",nested_tuple_16[0])  #using indexing to access first element

First element of nested Tuple is: (1, 2, 3)

17. Create a tuple with a single element.

In [20]:
#we need to use , after the number to create a tuple with single element. If we don't use comma, it will be an 'int' type

tup17 =(21,)

print(type(tup17))

#if not using comma

tup17i =(31)

#it should be an int

print(type(tup17i))

<class 'tuple'>
<class 'int'>

18. Compare two tuples.

In [21]:
#We will comparee 2 tuples lexographically which means the tuple with numbers smaller in order. Please see example below

tup18a=(1,5,7,8)
tup18b = (1,5,7,9,10)

print("tup18a == tup18b:", tup18a == tup18b)  # Equality check
print("tup18a != tup18b:", tup18a != tup18b)  # Inequality check
print("tup18a < tup18b:", tup18a < tup18b)    # Less than check
print("tup18a <= tup18b:", tup18a <= tup18b)  # Less than or equal to check
print("tup18a > tup18b:", tup18a > tup18b)    # Greater than check
print("tup18a >= tup18b:", tup18a >= tup18b)  # Greater than or equal to check

tup18a == tup18b: False
tup18a != tup18b: True
tup18a < tup18b: True
tup18a <= tup18b: True
tup18a > tup18b: False
tup18a >= tup18b: False

19. Delete a tuple.

In [22]:
tup19 = (20,20,40)

del tup19

print(tup19)

NameError: name 'tup19' is not defined

20. Slice a Tuple

In [23]:
tup20 = (20,20,40,60,80,100,120)

tup20[1:3]

(20, 40)

21. Find the maximum value in a tuple.

In [24]:
tup21 =(10,20,30,40,70,10,20,80,4,5,6)

max_tup = max(tup21)

print("Maximum value in Tuple:", max_tup)

Maximum value in Tuple: 80

22. Find the minimum value in a tuple.

In [25]:
tup22 =(10,20,30,40,70,10,20,80,4,5,6)

min_tup = min(tup21)

print("Maximum value in Tuple:", min_tup)

Maximum value in Tuple: 4

23. Convert a string to a tuple of characters.

In [27]:
str = "Pyskills Data Science"

tup23 = tuple(str)

print("Tuple of characters:", tup23)

Tuple of characters: ('P', 'y', 's', 'k', 'i', 'l', 'l', 's', ' ', 'D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e')

24. Convert a tuple of characters to a string.

In [32]:
tup_c =  ('P', 'y', 's', 'k', 'i', 'l', 'l', 's', ' ', 'D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e')


str_c = "".join(tup_c)

print("Converting Tuple of Characters to a string:",str_c)

Converting Tuple of Characters to a string: Pyskills Data Science

25. Create a tuple from multiple data types.

In [34]:
mix_tuple = ("Mixed", True, 12, 13.2)

print("Mixed Tuple is:", mix_tuple)

Mixed Tuple is: ('Mixed', True, 12, 13.2)

26. Check if two tuples are identical.

In [1]:
tupA = (1,2,3)
tupB = (9,7,6)
tupC = (9,7,6)

check_tups_na = tupA == tupB
check_tups_iden = tupB == tupC

print("Are tupA and tupB identical?", check_tups_na)
print("Are tupB and tupC identical?", check_tups_iden)

Are tupA and tupB identical? False
Are tupB and tupC identical? True

27. Sort the elements of a tuple.

In [3]:
tup27 = (9,4,3,5,34,56,12,32,11)

sorted_tuple = sorted(tup27)

print("Sorted tuple is:", sorted_tuple)

Sorted tuple is: [3, 4, 5, 9, 11, 12, 32, 34, 56]

28. Convert a tuple of integers to a tuple of strings.

In [11]:
tup28 = (1,3,4,5)

#using map to transform every item to string in tuple. 

map_tup28 = tuple(map(str, tup28))

print("Transformed Tuple is", map_tup28)

Transformed Tuple is ('1', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers

In [9]:
tup29 = ('23', '42', '32','12')

#again using map function to transform the tuple
map_tup29 = tuple(map(int, tup29))

print("Transformed Tuple is", map_tup29)

Transformed Tuple is (23, 42, 32, 12)

30. Merge two tuples.

In [10]:
tup30A = (3,4,5)
tup30B = (20,30,89,97)

print("Merged Tuples are", tup30A + tup30B)

Merged Tuples are (3, 4, 5, 20, 30, 89, 97)

31. Flatten a nested tuple.

In [24]:
tup31 = (1,2,3, (20,30,40), ("Apple","Mango"))

#it can be initiate  a list and then we can use extend fucntion



def extend_tuple(nested_tuple):
    lst31_t = []
    for item in nested_tuple:
        if isinstance(item, tuple):
                lst31_t.extend(extend_tuple(item)) #here if loop encounters the tuple as element, it call itself again to get to point in loop to extend the nested tuple)
        
        else:
            lst31_t.append(item)
    return lst31_t
        
flattened_tuple = tuple(extend_tuple(tup31))

print("Extended Tuple is", flattened_tuple)

Extended Tuple is (1, 2, 3, 20, 30, 40, 'Apple', 'Mango')

32. Create a tuple of the first 5 prime numbers.

In [43]:
#Initiate an empty List

p_numbers = []

for num in range(2,12):
        #Assume number is prime, unless it is proven otherwise
        IsPrime = True
        
        for i in range(2,num):
            if num%i == 0:
                IsPrime = False
            
        if IsPrime:
                  p_numbers.append(num)
                
tuple_p_numbers = tuple(p_numbers)

print("Tuple with first 5 prime numbers", tuple_p_numbers)

Tuple with first 5 prime numbers (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [44]:
def is_palindrome(tup):
     return tup == tup[::-1]
    
palindrome_tup = (1,2,3,2,1)
nonpalindrome_tup = (5,6,7,8,5)

print("palindrome _tup is a palindrome tuple",is_palindrome(palindrome_tup))
print("nonpalindrome _tup is a non palindrome tuple",is_palindrome(nonpalindrome_tup))

palindrome _tup is a palindrome tuple True
nonpalindrome _tup is a non palindrome tuple False

34. Create a tuple of squares of numbers from 1 to 5.

In [45]:
tup34 =(1,2,3,4,5)

#convert it into list as tuples are immutable
tup34_list = list(tup34)
#Initiate empty list

tup34_list_sqr =[]

for item in tup34_list:
    item = item * item
    tup34_list_sqr.append(item)

#Converting list back to Tuple
tup34_squared = tuple(tup34_list_sqr)
    
print("List of squared items in tuple", tup34_squared )

List of squared items in tuple (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [46]:
tup35 =(1,2,3,4,5,7,8,9,10)

#Creating new tuple from original Tuple and storing all values which are not divided by 2
tup35_filtered_even = tuple(num for num in tup35 if num%2 !=0)

print("Tuple with filtered out even numbers", tup35_filtered_even)

Tuple with filtered out even numbers (1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2.

In [1]:
tup36 =(1,2,3,4,5,7,8,9,10)

tup36_two= tuple(num*2 for num in tup36)


print("Tuple with elements multiplies by 2",tup36_two)

Tuple with elements multiplies by 2 (2, 4, 6, 8, 10, 14, 16, 18, 20)

37. Create a tuple of random numbers.

In [3]:
import random

rand_tuple = tuple(random.randint(1,100) for _ in range(20)) # _ is use as placeholder

print("Random Tuple:", rand_tuple)

Random Tuple: (93, 14, 55, 75, 93, 7, 70, 81, 79, 41, 18, 40, 24, 50, 42, 3, 41, 91, 53, 39)

38. Check if a tuple is sorted.

In [10]:
tup_sorted = (1,2,4,5,6,7,8)
tup_unsorted = (1,42,14,15,6,17,8)
def sortcheck(tup):
    for i in range(len(tup)-1):
        if tup[i] > tup[i+1]:
            return False
            
    return True
        
print("Sorted Tuple is sorted:", sortcheck(tup_sorted))
print("UnSorted Tuple is sorted:", sortcheck(tup_unsorted))

Sorted Tuple is sorted: True
UnSorted Tuple is sorted: False

39. Rotate a tuple to the left by `n` positions.

In [13]:
tup39 = (1,2,3,4,5,6,7,8)
tup_lst39 = list(tup39)

n = int(input("Enter the positions to rotate"))

if n > len(tup_lst39):
    n = n%tup_lst39

list_rotated_left = tup_lst39[n:] + tup_lst39[:n]

tup_r_left = tuple(list_rotated_left)

print(f"List rotated left by {n} elements is: {tup_r_left}")

Enter the positions to rotate 3

List rotated left by 3 elements is: (4, 5, 6, 7, 8, 1, 2, 3)

40. Rotate a tuple to the right by `n` positions.

In [16]:
tup40 = (1,2,3,4,5,6,7,8)
tup_lst40 = list(tup40)

n = int(input("Enter the positions to rotate"))

if n > len(tup_lst40):
    n = n%tup_lst40

list_rotated_right = tup_lst40[-n:] + tup_lst40[:-n]

tup_r_right = tuple(list_rotated_right)

print(f"List rotated left by {n} elements is: {tup_r_right}")

Enter the positions to rotate 3

List rotated left by 3 elements is: (6, 7, 8, 1, 2, 3, 4, 5)

41. Create a tuple of the first 5 Fibonacci numbers.

In [19]:
def generate_fibonacci(num):
    fibonacci = [0,1] #initiate with 0 and 1 as first 2 elements
    while len(fibonacci) < num:
        next_num = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(next_num)
    return tuple(fibonacci)

fib_tuple= generate_fibonacci(5)
fib_tuple

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [24]:
get_elements = input("Enter elements separated by comma ")

list_elements = get_elements.split(',')

tuple_elements = tuple(list_elements)

print("Tuple from User input:", tuple_elements)

Enter elements separated by comma  apple, banana, mango, orange

Tuple from User input: ('apple', ' banana', ' mango', ' orange')

43. Swap two elements in a tuple.

In [27]:
tup43 = (10,20,30, 40,50)

#Swapping Tuple from index 1 to index 3
index1=1
index2=3

swapped_tuple = tuple(
                tup43[i] if i not in (index1, index2) else
                tup43[index2] if i == index1 else
                tup43[index1]
                for i in range(len(tup43)))
print("Swapped Tuple:", swapped_tuple)

Swapped Tuple: (10, 40, 30, 20, 50)

44. Reverse the elements of a tuple.

In [32]:
tup44 = (1,2,3,4,5)

#Create a new tuple with elements in reverse of existing tuple as tuples are immutable

tup44_rev = tuple(tup44[::-1])

tup44_rev

(5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [4]:
n = int(input("Enter the power of 2 i.e. value of n: "))

#Initiate an empty list
list_power2 = []

for i in range(n):               #Here max i will be n-1
    list_power2.append(2**i) 

tup_pow_n = tuple(list_power2)
    
tup_pow_n

Enter the power of 2 i.e. value of n:  6

(1, 2, 4, 8, 16, 32)

46. Find the longest string in a tuple of strings.

47. Find the shortest string in a tuple of strings.

In [11]:
tup46 = ("Apple", "Banana", "Sugar", "Lemon", "Rice")

tup46_lst = list(tup46)

#convert it into string

tup46_str = " ".join(tup46_lst)
print("New String is:",tup46_str)

#Splitting the string

tup46_str_split = tup46_str.split()

longest_string = max(tup46_str_split, key=len)
Shortest_string = min(tup46_str_split, key=len)
print("Longest String is:",longest_string)
print("Shortest String is:",Shortest_string)

New String is: Apple Banana Sugar Lemon Rice
Longest String is: Banana
Shortest String is: Rice

48. Create a tuple of the first `n` triangular numbers.

In [12]:
def t_numbers(n):
    return [i *(i+1)//2 for i in range(1, n+1)]

num= int(input("Enter the valube of n"))

t_list_tuple = tuple(t_numbers(num))
            
print("List of triangular numbers",t_list_tuple)

Enter the valube of n 5

List of triangular numbers (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [13]:
def contains_subsequence(main_tuple, sub_tuple):
    sub_length= len(sub_tuple)
    for i in range(len(main_tuple) - sub_length +1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return  True
    return False
main_tuple = (3,4,5,20,30,40)

sub_tuple = (3,4,5)

contains_subseq = contains_subsequence(main_tuple, sub_tuple)

print("Main tuple contains subsequence tuple:",contains_subseq)

Main tuple contains subsequence tuple: True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [14]:
n = 20

tup50 = tuple(num%2 for num in range(n+1))

tup50

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

TOPIC: Set Based Practice Problem

1. Create a set with integers from 1 to 5.

In [3]:
#Initiate an empty set
set1 = set()

#Keep on adding values using add function
for num in range(1,6):
    set1.add(num)
    
set1

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [4]:
#Using set1 from above example

print("Existing values in set:", set1)

element_to_add=6

set1.add(element_to_add)

print("Set after adding new element:", set1)

Existing values in set: {1, 2, 3, 4, 5}
Set after adding new element: {1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [5]:
#Using set1 from above example
print("Existing values in set:", set1)

set1.remove(6)

print("Set after removing the element:", set1)

Existing values in set: {1, 2, 3, 4, 5, 6}
Set after removing the element: {1, 2, 3, 4, 5}

4. Check if an element exists in a set.

In [9]:
#Using set1 from above example
print("Existing values in set:", set1)

element_to_check = 5  

if element_to_check in set1:
            print("element is present in set")
else:
            print("element is not present in set")

Existing values in set: {1, 2, 3, 4, 5}
element is present in set

5. Find the length of a set without using the `len()` function.

In [11]:
#Using set1 from above example
print("Existing values in set:", set1)


count=0

for i in set1:
    count+=1
    
print("length of set is", count)

Existing values in set: {1, 2, 3, 4, 5}
length of set is 5

6. Clear all elements from a set.

In [12]:
#Using set1 from above example
print("Existing values in set:", set1)

set1.clear()

print("Set after clearing all the elements",set1)

Existing values in set: {1, 2, 3, 4, 5}
Set after clearing all the elements set()

7. Create a set of even numbers from 1 to 10.

In [13]:
#create an empty set

set2=set()

for i in range(1,11):
    if i%2 ==0:
        set2.add(i)
print("Set of even numbers:", set2)

Set of even numbers: {2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [15]:
set3 = set()

for i in range(1,10):
    if i in range(1,10):
        if i%2 != 0:
            set3.add(i)
print("Set of odd numbers:", set3)

Set of odd numbers: {1, 3, 5, 7, 9}

9. Find the union of two sets.

In [17]:
set4 = {1,2,3,4,5}
set5 = {5,6,7}

set6 = set4.union(set5)

print("Union of set4 and set5 are:", set6)

Union of set4 and set5 are: {1, 2, 3, 4, 5, 6, 7}

10. Find the intersection of two sets.

In [18]:
set4 = {1,2,3,4,5}
set5 = {5,6,7}

set7 = set4.intersection(set5)

print("Intersection of set4 and set5 are:", set7)

Intersection of set4 and set5 are: {5}

11. Find the difference between two sets.

In [19]:
set4 = {1,2,3,4,5}
set5 = {5,6,7}

set8 = set4.difference(set5)

print("Intersection of set4 and set5 are:", set8)

Intersection of set4 and set5 are: {1, 2, 3, 4}

12. Check if a set is a subset of another set.

In [20]:
setA = {1,2,3,4,5,6}
setB = {2,3,4}

if setB.issubset(setA):
    print("setB is subset of setA")
else:
    print("setB is not subset of setA")

setB is subset of setA

13. Check if a set is a superset of another set.

In [21]:
setA = {1,2,3,4,5,6}
setB = {2,3,4}

if setA.issuperset(setB):
    print("setA is superset of setB")
else:
    print("setA is not superset of setB")

setA is superset of setB

14. Create a set from a list.

In [22]:
example_list =[1,3,4,5,9,9,9,10,10]

set_list = set(example_list)

print("Created set from list is", set_list)

Created set from list is {1, 3, 4, 5, 9, 10}

15. Convert a set to a list.

In [23]:
ex_set = {1,2,3,4,5,6,6,7,8}

ex_list = list(ex_set)

print("Created list from the set is", ex_list)

Created list from the set is [1, 2, 3, 4, 5, 6, 7, 8]

16. Remove a random element from a set.

In [31]:
set16 = {1,2,3,4,5}

import random

random_element = random.choice(list(set16))

print("Random element is",random_element)

set16.remove(random_element)

print("Set after removing random element is:",set16)

Random element is 3
Set after removing random element is: {1, 2, 4, 5}

17. Pop an element from a set.

In [37]:
set17 = {1,2,3,4,5,6,7,8,9}

set17.pop()

print("Set after popping element", set17)

Set after popping element {2, 3, 4, 5, 6, 7, 8, 9}

18. Check if two sets have no elements in common.

In [41]:
set1 = {1,2,3,4}
set2 ={5,6,7,8}

if set1.intersection(set2) == set():
    print("no common elements in the set")
else:
    print("Common elements in sets are:", set1.intersection(set2))

no common elements in the set

19. Find the symmetric difference between two sets.

In [42]:
set19a = {1,2,4,5,6}
set19b = {2,5,8,9,1}

symmetric_diff = set19a ^ set19b

print("Symmetric difference between 2 sets is",symmetric_diff)

Symmetric difference between 2 sets is {4, 6, 8, 9}

20. Update a set with elements from another set.

In [43]:
set1 = {1,2,3}
set2 ={3,4,5}

print("Original set is:",set1)
print("Set from Original set needs to be update:",set2)
set1.update(set2)

print("Updated set is:",set1)

Original set is: {1, 2, 3}
Set from Original set needs to be update: {3, 4, 5}
Updated set is: {1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers.

In [45]:
#Initiate an empty set

set_prime = set()

for num in range(2,12):
        #Assume number is prime, unless it is proven otherwise
        IsPrime = True
        
        for i in range(2,num):
            if num%i == 0:
                IsPrime = False
            
        if IsPrime:
                  set_prime.add(num)

print("Set with first 5 prime numbers",set_prime)

Set with first 5 prime numbers {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [50]:
setA = {1,2,3}
setB = {1,2,3,4}
setC= {3,1,2}

def identical_sets(set1,set2):
    if set1 == set2:
        return True
    else:
        return False

print("Check for identical sets-setA and setC:", identical_sets(setA,setC))
print("Check for identical sets-setA and setB:", identical_sets(setA,setB))

Check for identical sets-setA and setC: True
Check for identical sets-setA and setB: False

23. Create a frozen set.

In [55]:
element_lists = [1,3,4,5,6] #elements to be includes in frozen set

frozen_set = frozenset(element_lists)

print(frozen_set)

frozen_set.add(10) #it will throw an error as frozen sets are immuatble

frozenset({1, 3, 4, 5, 6})

AttributeError: 'frozenset' object has no attribute 'add'

24. Check if a set is disjoint with another set.

In [56]:
set1 = {1,2,3,4,5}
set2 = {9,10,11,12}

print("Test if sets are disjoint:", set1.isdisjoint(set2))

Test if sets are disjoint: True

25. Create a set of squares of numbers from 1 to 5.

In [57]:
set25 = set(num*num for num in range(1,6))

print("Set of squares of numbers from 1 to 5", set25)

Set of squares of numbers from 1 to 5 {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [59]:
set26 = {1,2,3,4,5,6,7,8,9,10}
even_set = set()

for num in set26:
    if num%2 == 0:
        even_set.add(num)
print("Filtered set with even numbers is:", even_set)

Filtered set with even numbers is: {2, 4, 6, 8, 10}

27. Multiply all elements in a set by 2.

In [60]:
set27 ={1,2,3,4,5}

set27_double = set(num*2 for num in set27)

print("Set multiplied by2:",set27_double)

Set multiplied by2: {2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [62]:
import random

#Initialize empty set
set28 = set()

#Number of random numbers needed in a set

numbers_in_set = 10

for _ in range(numbers_in_set):
    random_number = random.randint(1,100)
    set28.add(random_number)
    
print("Set with random numbers:", set28)

Set with random numbers: {36, 7, 40, 75, 79, 80, 21, 54, 55, 26}

29. Check if a set is empty.

In [71]:
set29_e = set()

if not set29_e:
        print("Set is empty")

else:
         print("set is non-empty")

Set is empty

30. Create a nested set (hint: use frozenset).

In [73]:
set1 = {1,2,3,4,5}
set2 = {2,3,4,5,6,7}

frozenset1 = frozenset(set1)
frozenset2 = frozenset(set2)

print("Nested Set:",{frozenset1, frozenset2})

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({2, 3, 4, 5, 6, 7})}

31. Remove an element from a set using the discard method.

In [74]:
set1 = {1,2,3,4,5}

set1.discard(3)

set1

{1, 2, 4, 5}

32. Compare two sets.

In [3]:
set1 = {1,2,3,4,5,6}
set2 = {6,7,8,9,10}
set3 = {1,2,4}

#check for subset
is_subset = set3.issubset(set1)

#check for superset

is_superset = set1.issuperset(set3)

#check for difference. elements in set 1 but not in set 3

difference1 = set1.difference(set3)

#check for difference. elements in set 2 but not in set 1

difference2 = set2.difference(set1)


#check for Intersection

intersection = set1.intersection(set2)


print("set1:", set1)

print("set2:", set2)

print("set3:", set3)

print("Is Set 3 Subset of Set 1", is_subset)

print("Is Set 1 superset of Set 3", is_superset)

print("elements in set 1 but not in set 3", difference1)

print("elements in set 2 but not in set 1", difference2)

print("Intersection between set1 and set 2", intersection)

set1: {1, 2, 3, 4, 5, 6}
set2: {6, 7, 8, 9, 10}
set3: {1, 2, 4}
Is Set 3 Subset of Set 1 True
Is Set 1 superset of Set 3 True
elements in set 1 but not in set 3 {3, 5, 6}
elements in set 2 but not in set 1 {8, 9, 10, 7}
Intersection between set1 and set 2 {6}

33. Create a set from a string.

In [12]:
str_33 = "Hello"

set_str_33 = set(str_33)
print("Split String is:", set_str_33)

Split String is: {'l', 'o', 'e', 'H'}

34. Convert a set of strings to a set of integers.

In [14]:
set34 = {'10','20','30'}

#Initiate an empty set
set34_int = set()

for i in set34:
    i = int(i)
    set34_int.add(i)
    
print("Output set is:", set34_int)

Output set is: {10, 20, 30}

35. Convert a set of integers to a set of strings.

In [15]:
set35 = {10,20,30}

#Initiate an empty set
set35_str = set()

for i in set35:
    i = str(i)
    set35_str.add(i)
    
print("Output set is:", set35_str)

Output set is: {'20', '30', '10'}

36. Create a set from a tuple.

In [18]:
tup_36 = (1,2,3,4,5,5,4,3,2)

tup_set_36 = set(tup_36)

print("The set from Tuple is:", tup_set_36)

The set from Tuple is: {1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [21]:
set_37 ={1,2,3,4,5}

tup_set_37 = tuple(set_37)

print(type(tup_set_37))

print("The Tuple from the set is:", tup_set_37)

<class 'tuple'>
The Tuple from the set is: (1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [24]:
set_37 ={1,2,3,4,5,23,11,34,12}

max_val = max(set_37) 

print("Maximum value in the set is", max_val)

Maximum value in the set is 34

39. Find the minimum value in a set.

In [25]:
set_39 ={1,2,3,4,5,23,11,34,12}

min_val = min(set_39) 

print("Minimum value in the set is", min_val)

Minimum value in the set is 1

40. Create a set from user input.

In [31]:
get_input = input("Enter the values to be added to set separated by ',':")

#Add this to the list split by comma
list_input= get_input.split(',')
#Convert that list to the set

set40 = set(list_input)

print("set from the user input is:",set40)

Enter the values to be added to set separated by ',': apple, Banana, Coffee, Tea

set from the user input is: {' Tea', ' Banana', ' Coffee', 'apple'}

41. Check if the intersection of two sets is empty.

In [37]:
set1= {1,2,3,4}
set2 = {5,6,7,8}

intersection = set1.intersection(set2)
if intersection == set():
    print("Intersection is empty")
else:
    print("Non empty set from intersection")

Intersection is empty

42. Create a set of the first 5 Fibonacci numbers.

In [51]:
#Initiate a Fibonacci sequence with first 2 numbers
fib_list = [0,1]

print(type(fib_list))

for i in range(2,6):
    num_next = fib_list[i-1] + fib_list[i-2] 
    fib_list.append(num_next)
    
fib_set = set(fib_list)
print("Set with Fibonacci Sequence is:", fib_set)

<class 'list'>
Set with Fibonacci Sequence is: {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [53]:
list_43 = [1,2,3,3,3,4,4,5,5,6]

#converting it into sets removes duplicates

set_list_43 = set(list_43)
print("set after removing duplicates", set_list_43)

set after removing duplicates {1, 2, 3, 4, 5, 6}

44. Check if two sets have the same elements, regardless of their count.

In [57]:
def have_same_elements(set1,set2):
    sorted_list_1 = sorted(list(set1))
    sorted_list_2 = sorted(list(set2)) #using sorted to return sorted list without impacting origianl list
    return sorted_list_1 == sorted_list_2

set1 = {1,3,5,3,1}
set2 = {1,3,5}
result = have_same_elements(set1,set2)

if result:
    print("Sets have same elements")
else:
    print("Sets don't have same elements")

Sets have same elements

45. Create a set of the first `n` powers of 2.

In [63]:
#Initiate an empty set
n = int(input("Enter the value of n"))
set45 = set(2**num for num in range(n+1))

print(f"Set of first {n} powers of 2" , set45)

Enter the value of n 5

Set of first 5 powers of 2 {32, 1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [65]:
#defining a list and a set
set46 = {1,2,3,5,6}

list46 = [1,2,4,5,6,6,20,30]

#convert the list to the set to get the unique elements in the list
set_list46 = set(list46)

#to find common elements of two sets, use intersection

common_elements =  set46.intersection(set_list46)

print("common elements", common_elements)

common elements {1, 2, 5, 6}

47. Create a set of the first `n` triangular numbers.

In [66]:
def generate_triangular_number(n):
    #create an empty set to store number
    t_set = set()
    for i in range(1, n+1):
        triangular_number = i*(i+1) //2
        t_set.add(triangular_number)
    return t_set

n = int(input("Enter the value of n:"))

set_triangular = generate_triangular_number(n)

print(f"The set of first {n} traingular numbers is:", set_triangular)

Enter the value of n: 5

The set of first 5 traingular numbers is: {1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [70]:
set48 = {1,4,5,6,7}
subset48 = {4,5,6}

is_subset = subset48.issubset(set48)

if is_subset:
    print("set contains another set as a subset")
else:
     print("set doesn't contain another set as a subset")

set contains another set as a subset

49. Create a set of alternating 1s and 0s of length `n`.

In [72]:
n = int(input("Get the value of n: "))

#Initiate an empty set:

set01 = set()

for i in range(n):
    if i%2 ==0:
        set01.add(1)
    else: 
        set01.add(0)

    
print("Set with alternating 0s and 1:",set01)

Get the value of n:  6

Set with alternating 0s and 1: {0, 1}

50. Merge multiple sets into one.

In [75]:
set1 = {10,20,30}
set2 = {40,30,50}
set3 = {20,30,60}

merged_set = set1.union(set2,set3)

print("Merged Set is:", merged_set)

Merged Set is: {50, 20, 40, 10, 60, 30}